@CHARSET "ISO-8859-1";

body {font-family: Arial;background-color: lightgrey}

img{width: auto ; height: auto ; max-width: 100%;}

.allimages {width: 320px ; margin:10px;}

a {	text-decoration: none;	color:black;}

button {
	padding:8px;
	margin:3px;
	border-radius:10px;
	border-style: none;
    -webkit-transition-duration: 0.7s; 
    transition-duration: 0.7s;
}

button:hover {	background-color: #aaaaaa;}

#copyright {font-size: 8px;}

#title {
	font-size: 26px;
	background-color: lightgray; 
	padding: 10px; 
}

#camimage {	text-align:center;	background-color: lightgray;
}

#image {display: inline;}

.footer {
	background-color: lightgray; 
	padding: 5px; 
	width: auto !important;
	
}

#type {
	margin-left:40px;
	font-size: 16px;
	display:inline-block;
	float: right;
	margin-top:10px;
}

.toolbar {
	background-color: lightgray; 
	padding: 5px;
	text-align: center;
	width: auto !important;
}

#count, #range {
	background: black;
	color:white;
	padding:4px;
	border-radius:10px;
}

.password {
	width:80px;
	height:30px;
	font-size: 17px;
	border-radius:10px;
}

#password_div, #settings_div  {
	background-color:lightblue;
    text-align: center;
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
}

.settings  {display: initial;}
.settings tr td  { padding:5px; }
.settings tr:first-child   { border-bottom: 1px solid black }
.settings tr td input[type=checkbox] {height: 22px; margin-top: 1px;width: 22px;}


#slider, #actionslider { margin:10px; }

#camname {height: 30px; border-radius: 10px;  background-color: white;}

@media (min-width: 1024px) {
	.cam-left { vertical-align: top;width: 380px;float: left }
	.cam-right{ margin-left: 380px }
}



/*Calendar*/

.calendarDiv {text-align: center; background-color: lightgray;}
.calendarBody {display: inline-block; margin:5px;padding:3px;min-height:100px; border-radius: 10px; background-color: #eeeeee; vertical-align: top}
.calendarCell {min-width: 25px;min-height: 10px; text-align: center; margin:3px;}
.calendarDays {background-color: bisque;}
.calendarDay {background-color: lightgreen;}
.calendarDayNo1 {background-color: #ffe030;}
.calendarDayNo2 {background-color: #ffac30;}
.calendarDayNo3 {background-color: #ff3030;}
.calendarToday {font-weight: bold;border-style:solid; border-width:2px; }
.calendarLegend {padding: 5px;}
.calenderAktDay {border-color: red;border-style:solid;border-width: 2px;}
.calendarDayDisabled{background-color: #eeeeee;color:#888888}
